<!DOCTYPE html>
<html>
<head>
  <title>Glee</title>
  <%= stylesheet_link_tag    "glee/application", media: "all" %>
  <%= javascript_include_tag "glee/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Home", root_path %>
  <%= link_to "Records", records_path %>
  <%= yield %>

</body>
</html>
